<% title "Login" %>

<h1>Log in</h1>  
  
<div class="section" style="width: 40%">
	
<%= form_tag sessions_path do %>  
  <p>  
    <%= label_tag :email %><br />  
    <%= text_field_tag :email, params[:email] %>  
  </p>  
  <p>  
    <%= label_tag :password %><br />  
    <%= password_field_tag :password %>  
  </p>  
  <%= submit_tag "Login", :class => "awesome" %>
<% end %>

</div>