Welcome to parkey.co 
===============================================
 
You have successfully signed up to parkey.co.
 
To login to the site, just follow this link: <%= @url %>.
 
Thanks for joining and have a great day!