<% title "Parkey Home" %>

 <hr id="header_stripe"/>
  <div id="page_container">
  <div id="toppanel">
    <div id="panel">
      <div id="panel_contents"> </div>

      <div class="border" id="login">
        <p>Username:
          <input type="text" size="15" name="username" id="username" />
          <br />
          Password:
          <input type="password" size="15" name="password" id="password" />
          <br />
          <input type="button" accesskey="l" id="login_btn" name="login" value="Login" />
        </p>
      </div>
    </div>
    <div class="panel_button" style="display: visible;">
		<%= image_tag("expand.png") %> <a href="#">Login Here</a> 
	</div>
    <div class="panel_button" id="hide_button" style="display: none;">
		<%= image_tag("collapse.png") %><a href="#">Hide</a> 
	</div>
  </div>
  <div id="content">
	
	<div class="logo" align="center">	
		Parkey
	</div>

	<div align="center">
		Search for a spot: <input type="text" name="search"/>
		<input type="submit" name="submit" class="awesome">
	</div>
	
    <p>Parkey is a revolutionary way to find parking.  Everyone knows the problem.  Really its just a matter of supply and demand.  There When there is an event, there is never the supply of places to park to keep up with the demand of people who need to park their cars.</p>
    <p> Parkey is an enabler.  Parkey is a way to to increase the supply of parking spots available by allowing regular people to list their driveway.  These otherwise vacant plots of land can be put to good use.  Whats even better is  that as the owner of one of these spots can make money.  We like to thing of this as StubHub for parking.  Sign up today for a free account and for your first step towards a new way to navigate the urban jungle.  Oh, and if you have seen a youtube presentation by some guys in Baltimore peddling some kind of a parking service that features a panda, well, that guy is a fucking idiot.  Don't use that guys site, use ours instead.</p>
  </div>
  <div id="footer">
    <p>Parkey &copy 2012</p>
  </div>
</div>


<script>
$(document).ready(function() {
	$("div.panel_button").click(function(){
		$("div#panel").animate({
			height: "500px"
		})
		.animate({
			height: "400px"
		}, "fast");
		$("div.panel_button").toggle();
	
	});	
	
   $("div#hide_button").click(function(){
		$("div#panel").animate({
			height: "0px"
		}, "fast");
		
	
   });	
	
});

</script>














