

<table>
  <tr>
    <th>Amount</th>
  </tr>
  <% for cart in @carts %>
    <tr>
      <td><%= cart.amount %></td>
      <td><%= link_to "Show", cart %></td>
      <td><%= link_to "Edit", edit_cart_path(cart) %></td>
      <td><%= link_to "Destroy", cart, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Cart", new_cart_path %></p>
