<% title "My Account" %>

<a href="/">Home</a> / My Account

<h1>My Account</h1>

<div class="section">

<div>
	<span class="pLabel">Email Address:</span> <a href="mailto:<%= current_user.email %>"><%= current_user.email %></a>
</div>
<div>
	<span class="pLabel">Account Balance:</span> $<%= current_user.account.balance %>
</div>

<div id="creditdiv">
	
	<% if @cart.amount != nil %>
	
	<%= form_tag(APP_CONFIG[:paypal_url]) do %>
	  <%= hidden_field_tag :cmd, "_s-xclick" %>

	  <%= hidden_field_tag :encrypted, paypal_encrypted_request(my_account_url, payment_notifications_url(:secret => APP_CONFIG[:paypal_secret])) %>
	<span class="pLabel">Credit to Add:</span> $<%= @cart.amount %> 
	<%= link_to "clear", @cart, :method => :delete %>
	 <p>
		<%= submit_tag "Checkout With Paypal" , :class => "awesome"%>
		</p>

		<% end %>
	
	<% else %>

		<%= form_for @cart do |f| %>
		<%= f.error_messages %>
		  <p>
		    <%= f.text_field :amount %>
		  </p>
		  <p><%= f.submit "Add Credit to Account" , :class => "awesome"%></p>
		 <% end %>
	<% end %>
	
</div>

<!-- (When logging into the Test Site, log into Paypal with this: buyer_1345164100_per@hotmail.com and password: paypal88 ) -->
<h2>My Parking Spots</h2>
<p id="notice"><%= notice %></p>
<div>
	<ul>
	<% for location in @locations %>
	 <li> <%= location.address %> 
		
		<% if location.reservation != nil %>
			<span >Reserved</a>
		<% else	%>
			<span >Not Reserved</a>
		<% end	%>
		
	</li>
	<% end %>
	</ul>
</div>

</div>

