// Place all the styles related to the mainpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.help-button1 /* Button with CSS only */
{
	background: url(help.png) 0 0;
	height:65px;
	width:248px;
	display:block;
}
.help-button1:hover /* mouseOver */
{
    background: url(help.png) 0 65px;
}
.help-button2, .help-button2 a {
    background: url(help.png) 0 -65px;
    height:65px;
    width:248px;
    display:block;
}
.help-button2 a {
	background-position: 0 0;
}



.signup-button1 /* Button with CSS only */
{
	background: url(signup.png) 0 0;
	height:65px;
	width:248px;
	display:block;
}
.signup-button1:hover /* mouseOver */
{
    background: url(signup.png) 0 65px;
}
.signup-button2, .signup-button2 a {
    background: url(signup.png) 0 -65px;
    height:65px;
    width:248px;
    display:block;
}
.signup-button2 a {
	background-position: 0 0;
}


.works-button1 /* Button with CSS only */
{
	background: url(howitworks.png) 0 0;
	height:65px;
	width:248px;
	display:block;
}
.works-button1:hover /* mouseOver */
{
    background: url(howitworks.png) 0 65px;
}
.works-button2, .works-button2 a {
    background: url(howitworks.png) 0 -65px;
    height:65px;
    width:248px;
    display:block;
}
.works-button2 a {
	background-position: 0 0;
}


#dark-header {
background-color: #404038;
background: -webkit-gradient(linear,0% 0,0% 100%,from(#484840),to(#383830));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#484840,endColorstr=#383830);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#484840,endColorstr=#383830)";
border-top: 1px solid #5C5C54;
border-bottom: 1px solid #282820;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}
.site-header {
position: relative;
height: 43px;
min-width: 1140px;
font-size: 13px;
padding: 0;
margin-bottom: 20px;
}
.right {
float: right;
}

.logo {
	font-family: fantasy;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 52pt;
	word-spacing: normal;
	letter-spacing: normal;
	text-decoration: none;

}


#page.center, #inner-header.center {
width: 960px;
margin: 0 auto;
padding: 0 20px;
}

#dark-header a.logo {
background: url(signup.png) no-repeat;
}
#inner-header.fullscreen {
margin: 0 40px;
}

#current-user {
	margin-top: 10px;
	color: #D0D0D0;
}

#current-user a {
	color: white;
	font-weight: bold;
	
}


body {
	background: #202020;
	text-align: center;
	margin: 0px;
}
#page_container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 904px;
	top: -32px;
}
#header {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 135px;
	background: #3f3f3f url(header.png) no-repeat center;
	position: relative;
	border-bottom: 1px solid #4a4a4a;
}
#header h1 {
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	top: 30px;
	font-size: 40px;
	color: white;
}
#header h2 {
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #7e7e7e;
}
hr#header_stripe {
	height: 12px;
	position: relative;
	top: -7px;
	background-color: #191919;
	border: none;
	color: #191919;
}
.panel_button {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 1px;
	width: 173px;
	height: 54px;
	background: url(panel_button.png);
	z-index: 20;
	filter:alpha(opacity=70);
	-moz-opacity:0.70;
	-khtml-opacity: 0.70;
	opacity: 0.70;
	cursor: pointer;
}
.panel_button img {
	position: relative;
	top: 10px;
	border: none;
}
.panel_button a {
	text-decoration: none;
	color: #545454;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: 5px;
	left: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.panel_button a:hover {
	color: #999999;
}
#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	text-align: center;
}
#toppanel {
	position: absolute;
	width: 900px;
	left: 0px;
	z-index: 25;
	text-align: center;

}
#panel {
	width: 900px;
	position: relative;
	top: 1px;
	height: 0px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	overflow: hidden;
	text-align: left;
}
#panel_contents {
	background: black;
	filter:alpha(opacity=70);
	-moz-opacity:0.70;
	-khtml-opacity: 0.70;
	opacity: 0.70;
	height: 100%;
	width: 904px;
	position: absolute;
	z-index: -1;
}
#panel h1 {
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: white;
	font-weight: normal;
	line-height: 35px;
	left: 275px;
	position: absolute;
	top: 10px;
}
#panel h2 {
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #447c6f;
	line-height: 25px;
	font-size: 16px;
	position: absolute;
	top: 60px;
	left: 350px;
}
#content {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	position: relative;
	top: 90px;
	text-align: left;
	color: #545454;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-bottom: 30px;
}
.border {
	border: 15px #1d1d1d solid;
}
img.border {
	float: left;
	margin-right: 15px;
	margin-bottom: 8px;
}
img.border_pic {
	border: 15px #1d1d1d solid;
	position: absolute;
	top: 110px;
	float: left;
	margin-left: 150px;
	width: 250px;
	height: 150px;
	z-index: 30;
}
div#login {
	width: 240px;
	height: 150px;
	position: absolute;
	right: 150px;
	top: 110px;
	background: #46392f;
	text-align: left;
	padding-left: 10px;
}
div#login p {
	color: #CCCCCC;
	font-family: Century Gothic, Georgia, "Times New Roman", Times, serif;
	line-height: 25px;
}
div#login input#password {
	position: relative;
	right: -6px;
}
div#login input#login_btn {
	border: 1px #899690 solid;
	cursor: pointer;
	position: relative;
	top: 30px;
	left: 86px;
}
#footer p {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	top: 60px;
	font-size: 13px;
	color: #333333;
}


