<%= form_for @location do |f| %>

  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  
<p>
    <%= f.label :price %> (in dollars)<br />
    <%= f.text_field :price %>
  </p>
<p>
    <%= f.label :opentime %><br />
    <%= f.text_field :opentime %>
  </p>
<p>
    <%= f.label :closetime %><br />
    <%= f.text_field :closetime %>
  </p>
  <p><%= f.submit "Create Parking Spot" , :class => "awesome" %></p>
<% end %>


<script>
	$(function() {
		$( "#location_opentime" ).datepicker({ dateFormat: "yy-mm-dd" });
		$( "#location_closetime" ).datepicker({ dateFormat: "yy-mm-dd" });
	});
	</script>