<% title "Edit Spot" %>


<h1>Edit this Spot</h1>

<div class="section" style="width: 40%">

<%= render 'form' %>

<p>
  <%= link_to "Show", @location %> |
  <%= link_to "View All", locations_path %>
</p>

</div>
