<% title "Open Spots" %>

<p id="notice"><span><%= notice %></span></p>

<table width="500">
  <tr>
	<th></th>
    <th>Address</th>
	<th>Date</th>
  </tr>

  <% @locations.each_with_index do  |location, index| %>
    <tr>
	  <td><%= index+1 %>.) 
      <td><%= location.address %></td>
	  <td><%= location.opentime.strftime("%m/%d/%Y") %></td>
      
		<% if location.user.id != current_user.id %>
			<td>
			<% if current_user.account.balance > location.price.to_d %>
				<%= link_to "Reserve", location %>
			<% else %>
					<span title="you lack the funds">Reserve</span>
			<% end %>
			
			</td>
		<% else %>
      		<td><%= link_to "Edit", edit_location_path(location) %></td>
      		<td><%= link_to "Remove", location, :method => :delete %></td>
		<% end %>
    </tr>
  <% end %>
</table>

<div id="map_canvas" style="width:60%; height:400px; margin: 10px; float:left"></div>

<div class="toggler" style="width:30%;float:left" >
	<div id="effect" >
		
		
		<h2>Parking Spot</h2>
		<div class="section">
		<div>
			<span>(picture)</span>
			<span> </span>
		</div>
		
		<div>
			<span class="pLabel">Price: $</span>
			<span id="spot_price"> </span>
		</div>
			
		<div>
			<span class="pLabel">Date: </span>
			<span id="spot_date"> </span>
		</div>
			
		<div>
			<span class="pLabel">Owner: </span>
			<span id="spot_owner"> </span>
		</div>
		
		<div>
			<span class="pLabel">Notes: </span>
			<span id="spot_notes"> Blah blah blah blah blah Blah blah blah blah blah</span>
		</div>
			
		<div>
			<input type="button" class="awesome" id="spot_button" value="Reserve"></a>
		</div>	
		</div>	
	</div>
</div>

<div style="clear:both">
<p><%= link_to "New Parking Spot", new_location_path %> | <%= link_to "Home", root_path %> </p>
</div>



<script type="text/javascript">
	
	$(function() {
      
		var mapOptions = {
          //hard code boulder for now
         center: new google.maps.LatLng(40.0149856, -105.27054560),
          zoom: 15,
		  draggable: false,
		 disableDoubleClickZoom: true,
		scrollwheel: false,
		  disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);

		<% @locations.each_with_index do  |location, index| %>
				var latlng<%= location.id %> = new google.maps.LatLng(<%= location.latitude %>,<%= location.longitude %>);
	   
				var marker<%= location.id %> = new google.maps.Marker({
								            position: latlng<%= location.id %>,
								            map: map,
											title:"Price: $<%= location.price %>",
											icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld='+<%=index+1%>+'|FA6173|000000'
								
								        });
								
				google.maps.event.addListener(marker<%= location.id %>, 'click', function() {
										    runEffect('<%= location.price %>','<%= location.opentime %>','<%= location.user.email %>', '<%= location.id %>');
				});
	   <% end %>
	
		
		
		// run the currently selected effect
				function runEffect(location_price, location_date, location_owner, location_id) {
					// most effect types need no options passed by default
					var options = {};
				 $('#spot_price').text(location_price);
				 $('#spot_date').text(location_date);
				 $('#spot_owner').text(location_owner);
				 $('#spot_button').click(function() { alert('foo'); });
					
					// run the effect
					$( "#effect" ).show( "blind", options, 500, callback );
				};

				//callback function to bring a hidden box back
				function callback() {
				//	setTimeout(function() {
				//		$( "#effect:visible" ).removeAttr( "style" ).fadeOut();
				//	}, 1000 );
				};

				// set effect from select menu value
				$( "#button" ).click(function() {
					runEffect();
					return false;
				});

			$( "#effect" ).hide();
		
      });


    </script>
