<% title "Reserve This Spot" %>

<h1>Reserve this spot</h1>

<div class="section" style="width: 40%">
<table>
	<tr>
		<td>Address:</td>
		<td><%= @location.address %></td>
	</tr>
	<tr>
		<td>Price:</td>
		<td>$<%= @location.price %></td>
	</tr>
	<tr>
		<td>Owner:</td>
		<td><a href="mailto:<%= @location.user.email %>"><%= @location.user.email %></a></td>
	</tr>
</table>


<div style="margin-top: 50px">
<%= button_to "Reserve this Spot", {:controller => 'locations', :action => "reserve" }, {:class => "awesome"} %>
</div>

</div>