<!DOCTYPE html>
<html class="no-js"> 
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <meta name="description" content="">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">
	
    <%= stylesheet_link_tag    "application", :media => "all" %>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" media="all" />
  	<%= javascript_include_tag "application" %>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD9sZajBqv25DwxzxNJHmdB-aqWJ4c5AOE&sensor=false"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>


  	<%= csrf_meta_tags %>
</head>
<body>
	<div class="site-header" id="dark-header">
	<div id="inner-header" class="center">

	   	<div id="current-user" class="right"> 
			<% if current_user %>  
		    Logged in as <%= current_user.email %>  | <%= link_to "My Account", my_account_path %>  |
		    <%= link_to "Log out", log_out_path %>  
		  <% end %>
		</div>
	    <div class="clear-float"></div>
	  </div>
	</div>
	
	
	<div >

		<div>
			<%= yield %>
		</div>
	</div>
	


</body>
</html>
