<!DOCTYPE html>
<html class="no-js"> 
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    ￼<title></title>
    <meta name="description" content="">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">
	
    <%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
	
  	<%= csrf_meta_tags %>

</head>
<body>

	<div class="container">
			<p id="alert"><span style="color:red"><%= alert %></span></p>
		<div>
			<%= yield %>
		</div>
	</div>

</body>
</html>
