<!DOCTYPE html>
<html class="no-js"> 
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title></title>
    <meta name="description" content="">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">
	
    <%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>
<body>
	
	<div class="container">
		<div id="user_nav"  align="right">  
		  <% if current_user %>  
		    Logged in as <%= current_user.email %>  
		    <%= link_to "Log out", log_out_path %>  
		  <% else %>   
		    <%= link_to "Log in", log_in_path %>  
		  <% end %>  
		</div>
		<div>
			<%= yield %>
		</div>
	</div>

</body>
</html>
